.btn-slide {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	background: #fff;
	border: 1px solid rgba(34, 34, 34, 0.287);
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 3;
	opacity: 0.6;
}

.btn-slide:hover {
	opacity: 0.9;
}

.prev {
	top: 50%;
	left: 20px;
	transform: translateY(-60%);
}
.next {
	top: 50%;
	right: 20px;
	transform: translateY(-60%);
}
