.projects-section {
	padding: 15rem 0;
	background-image: url('../../public/img/project-section-bg.png');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 10px #1a2420;
}

.projects-section .projects-title {
	font-size: 3rem;
	text-transform: uppercase;
	color: var(--primary-color);
	letter-spacing: 2px;
}

.projects-section .project-container {
	max-width: 110rem;

	display: grid;
	grid-template-columns: repeat(12, 1fr);
	justify-content: center;
	margin-top: 5rem;
	gap: 2rem;
	position: relative;
	margin-bottom: 15rem;
	padding: 0 2rem;
}

.project-container .left {
	grid-column: 1/8;
	background-color: black;
	grid-row: 1;
	padding: 1.5rem;
	background-color: #334740;
	border-radius: 0.5rem;
	box-shadow: 0 0 10px #1a2420;
}

.project-container .left img {
	width: 100%;
	height: 100%;
	/* display: block; */
	object-fit: cover;
}

.project-container .right {
	grid-row: 1;
	grid-column: 8/-1;
	text-align: right;
	align-self: flex-start;
	border-radius: 3px;
}

/* reversed */

.left.reversed {
	grid-column: 7/-1;
}

.right.reversed {
	grid-column: 1/7;
	text-align: left;
}

.right .project-title {
	font-size: 3rem;
	letter-spacing: 1.5px;
}

.desc {
	background-color: #000;
	font-size: 1.5rem;
	padding: 2.5rem 1.6rem;
	z-index: 1;
	position: relative;
	margin: 1rem 0;
	line-height: 1.5;
	border-radius: 5px;
	transition: all 0.3s;
}
.desc:hover {
	opacity: 0.8;
}

.built-with span {
	color: var(--primary-color);
	font-size: 1.6rem;
	font-weight: 300;
}
.built-with span:not(:last-child) {
	margin-right: 1.6rem;
}
