@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

:root {
	--primary-color: #e6bd8f;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	/* 10px */
	font-size: 62.5%;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
}

a {
	text-decoration: none;
	color: currentColor;
}

ul {
	list-style: none;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
}

.btn {
	background-color: transparent;
	padding: 0.5rem 1.5rem;
}

.download-btn {
	padding: 1.5rem 3rem;
	display: inline-block;
	background-color: #000;
	margin-top: 3rem;
	font-size: 1.4rem;
	text-transform: uppercase;
	border-radius: 0.5rem;
	transition: all 0.3s;
	border: 1px solid transparent;
}
.download-btn:hover {
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
}

.mt-xl {
	margin-top: 10rem;
}
