.about {
	background-color: #283832;
	padding: 15rem 0 8rem;
}

.about-wrapper {
	display: grid;
	grid-template-columns: 35fr 65fr;
	gap: 5rem;
	justify-content: center;
	position: relative;
}

.about .author-picture {
	width: 90%;
	height: 80%;
	background-color: #283832;
	margin: 0 auto;
	padding: 1rem;
	border-radius: 1rem;
	-webkit-box-shadow: 0px 1px 7px 5px rgba(0, 0, 0, 0.33);
	box-shadow: 0px 1px 7px 5px rgba(0, 0, 0, 0.33);
}

.about .author-picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: grayscale(0.4);
}

.about .about-author {
	width: 90%;
}

.about .about-author .title {
	text-transform: uppercase;
	color: var(--primary-color);
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: 1px;
}

.about .about-author h2 {
	font-size: 3rem;
	font-weight: 400;
}

.about .about-author hr {
	border: none;
	margin-top: 0.5rem;
	border-bottom: 3px solid var(--primary-color);
	width: 10%;
}

.about .about-author .desc {
	margin-top: 2.5rem;
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 1.5;
}

.about .about-author .overview {
	margin-top: 3rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	border: 2px solid var(--primary-color);
	padding: 2rem;
	font-size: 1.5rem;
	border-radius: 0.5rem;
}

.about .about-author .overview label {
	font-weight: 600;
	margin-bottom: 0.8rem;
	display: inline-block;
}
.about .about-author .overview span {
	font-weight: 300;
}

/* media queries */
@media (max-width: 900px) {
	.about .about-author .overview {
		padding: 2rem 1rem;
		font-size: 1.4rem;
	}
}

@media (max-width: 840px) {
	.about {
		padding: 10rem 0 8rem;
	}
	.about-wrapper {
		grid-template-columns: 1fr;
	}

	.about .author-picture {
		width: 15rem;
		height: 15rem;
		border-radius: 50%;
		margin-top: 10rem;
	}

	.about .author-picture img {
		border-radius: 100%;
	}

	.about .about-author {
		width: 70%;
		margin: 0 auto;
	}

	.about .layout {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
	}

	.about .about-author .title {
		text-transform: uppercase;
		color: var(--primary-color);
		font-size: 1.4rem;
		font-weight: 600;
		letter-spacing: 1px;
	}

	.about .about-author h2 {
		font-size: 2.6rem;
		font-weight: 400;
	}

	.about .about-author hr {
		margin: 0 auto;
		width: 40%;
	}
	.about .about-author .desc {
		text-align: center;
		margin-top: 0;
		width: 100%;
	}

	.about .about-author .overview {
		padding: 2rem 0.5rem;
		font-size: 1.3rem;
	}
}

@media (max-width: 600px) {
	.about .about-author .overview {
		grid-template-columns: 1fr;
		padding: 2rem 1rem;
	}
}
