.container-dots {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}
.dot {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	border: 3px solid #f1f1f1;
	margin: 0 5px;
	background: #f1f1f1;
}
.dot.active {
	background: #334740;
}
